
<div class="fasta_content">
    <div id="col1" class="ctrl">
        <div id="position_bar" class="sequence"></div>
    </div>
    <div id="col2">
        <div id="col2_1">
            <div id="panel_1" class="sequence">col2_1</div>
        </div>
        <div id="col2_2">
            <div id="col2_2_1">
                <div id="control_1" class="sequence">2_2_1</div>
            </div>
            <div id="col2_2_2">
                <div id="col2_2_2_1">
                    <div id="panel_2" class="sequence">col2_2_2_1</div>
                </div>
                <div id="col2_2_2_2">
                    <div id="col2_2_2_2_1">
                        <div id="control_2" class="sequence">col2_2_2_2_1</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    <%= render :partial => 'shared/fasta.js.erb'  %>
</script>